.navbar {
  height: 74px;
  width: 100%;
  background-color: var(--css-primary);
  display: flex;
  justify-content: space-between;
  padding: 0rem 2rem;
  align-items: center;
}

.searchBarSpace {
  width: 39.4%;
  height: 3rem;
  display: flex;
  flex-direction: row;
}

.inputText {
  padding: 0.625rem;
  flex-grow: 1;
  width: 34.86%;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
  border: 1px var(--css-black) solid;
}

.searchIcon {
  width: 11.6%;
  height: 3rem;
  border: 1px var(--css-black) solid;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  background-color: var(--css-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedbackBtn {
  width: 11.8%;
  height: 3rem;
  border: 1px var(--css-black) solid;
  border-radius: 0.75rem;
  background-color: var(--css-black);
  font-weight: 600;
  letter-spacing: 0.25px;
  color: var(--css-primary);
  padding: 0.625rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-layout {
  width: 67px;
  height: 34px;
}
