.swiper-button-prev {
  width: 32px;
  height: 32px;
  background-color: var(--css-primary);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev::after {
  font-size: 16px;
  color: var(--css-white);
  font-weight: 900;
}

.swiper-button-next {
  width: 32px;
  height: 32px;
  background-color: var(--css-primary);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next::after {
  font-size: 16px;
  color: var(--css-white);
  font-weight: 900;
}
