.albumContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 32px;
  padding: 32px;
  border-top: 1px var(--css-primary) solid;
}

.albumContent {
  font-size: 20px;
  font-weight: 600;
  color: var(--css-white);
  margin-bottom: 18px;
}

.showCollapse {
  font-size: 20px;
  font-weight: 600;
  color: var(--css-primary);
  background-color: var(--css-black);
  border: 0;
  cursor: pointer;
}

.cardListContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 55px;
  row-gap: 12px;
}
